@import "tailwindcss";
@import "./global.theme.css";
@import "./global.apply.css";

body {
    background: var(--bg-body);
    color: var(--foreground);
}

dialog::backdrop {
    background-color: rgb(0, 0, 0, 0.9);
    backdrop-filter: blur(2px);
}

input:focus,
textarea:focus {
    outline: 2px solid var(--color-primary);
}

.modal-container {
    opacity: 0;
    animation: modalReveal 0.5s ease-in-out forwards;
}

.modal-menu-container {
    opacity: 0;
    animation: modalMobilMenuReveal 0.5s ease-in-out forwards;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@media (min-width: 720px) {
    .modal-menu-container {
        opacity: 0;
        animation: modalMenuReveal 0.5s ease-in-out forwards;
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes modalReveal {
    from {
        transform: translate(-45%, -45%);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes modalMenuReveal {
    from {
        top: 0;
        left: 100%;
        right: -20%;
        opacity: 0;
    }

    to {
        top: 0;
        left: 80%;
        right: 0%;
        opacity: 1;
    }
}

@keyframes modalMobilMenuReveal {
    from {
        top: 0;
        right: -50%;
        left: 50%;
        opacity: 0;
    }

    to {
        top: 0;
        right: 0;
        left: 0;
        opacity: 1;
    }
}