@reference "./global.theme.css";

@tailwind utilities;

.btn-ghost {
  box-shadow: var(--ghost-shadow);
}

.btn-ghost-active {
  box-shadow: none;
}

.btn-ghost-active:hover {
  box-shadow: 0px 0px 3px var(--color-primary);
}

.btn-ghost:hover {
  box-shadow: 0px 0px 3px var(--color-primary);
  color: var(--color-primary)
}

@layer components {
  .btn {
    @apply px-6 py-2 rounded-lg transition-colors duration-150 tracking-wider font-semibold flex justify-center items-center
  }

  .btn-square {
    @apply p-2
  }

  .btn-primary {
    @apply text-[var(--white)] bg-[var(--color-primary)] hover:bg-[var(--color-primary-hover)]
  }

  .btn-secondary {
    @apply text-[var(--white)] bg-[var(--color-secondary)] hover:bg-[var(--color-secondary-hover)]
  }

  .btn-error {
    @apply text-[var(--white)] bg-[#ff000080] hover:bg-[#ff000040]
  }

  .btn-success {
    @apply text-[var(--white)] bg-[#00800080] hover:bg-[#00800040]
  }

  .btn-ghost {
    @apply text-[var(--foreground)]
  }

  .btn-ghost-active {
    @apply text-[var(--foreground)] bg-[var(--ghost-active)]
  }

  .input {
    @apply bg-[var(--white80)] py-2 px-4 rounded-lg shadow text-[var(--black)] text-center hover:bg-[var(--color-primary25)]
  }

  .input::placeholder {
    @apply text-[var(--black80)]
  }
}