.carousel .proyect .proyect-img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
}

.carousel .proyect.old>.proyect-img {
  z-index: 2;
  opacity: 1;
  animation: hideImage .5s linear 1 forwards;
}

.carousel .proyect.actual>.proyect-img {
  z-index: 3;
  bottom: 2.5rem;
  left: 10rem;
  width: 120px;
  height: 170px;
  opacity: 1;
  animation: showImage .5s linear 1 forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

@keyframes hideImage {
  to {
    opacity: 0;
  }
}

.carousel .card {
  position: absolute;
  bottom: 100%;
  left: 0;
  transform: scale(0.5);
  opacity: 0.5;
  transform-origin: center;
  z-index: -10;
  opacity: 0;
}

.carousel .card.actual {
  z-index: 3;
  animation: showCard 0.5s 0.25s linear forwards;
}

@keyframes showCard {
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.thumbnail {
  background: light-dark(#eee, #222);
  outline: 1px solid light-dark(#aaa, #444);
}

.thumbnail.active::before,
.thumbnail.active::after {
  border-radius: inherit;
  position: absolute;
  content: "";
  right: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: conic-gradient(from var(--angle), rgb(255, 55, 0), orange);
  animation: autoRotate 2s linear infinite;
  padding: 1px;
  box-sizing: unset;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.thumbnail.active::before {
  filter: blur(5px)
}

@keyframes autoRotate {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg
  }
}

.thumbnail img {}