#container {
  font-size: 5rem;
  width: 12ch;
  position: relative;
  filter: url(#threshold) blur(0.6px);
  display: block;
}

#text1,
#text2 {
  position: absolute;
  width: 100%;
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  font-size: 5rem;

}