@import "../../_styles/global.theme.css";

.about:first-of-type:before {
  content: "\0022";
  color: var(--color-primary);
  padding-right: 0.25rem;
}

.about:last-of-type:after {
  content: "\0022";
  color: var(--color-primary);
  padding-left: 0.25rem;
}

.about-container .about-reveal {
  opacity: 1;
  right: 0%;
  background: linear-gradient(to right, transparent, var(--layout-bg) 5%);
}

.about-container.visible .about-reveal {
  animation: aboutReveal 3s linear forwards;
  animation-delay: calc(1s * var(--i));
}

@keyframes aboutReveal {
  to {
    width: 0%;
  }
}