@import "../../_styles/global.theme.css";



.my-name {
  font-weight: 700;
  letter-spacing: 4px;
  background-image: linear-gradient(175deg, var(--foreground), var(--foreground), light-dark(var(--color-primary), black));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

/* ******************************************************************************** */

#blurry-text-container {
  width: 23ch;
  position: absolute;
  filter: url(#threshold) blur(0.6px);
  display: block;
}

#blurry-text1,
#blurry-text2 {
  position: absolute;
  top: 3px;
  width: 100%;
  display: inline-block;
}

#blurry-text1 {
  position: absolute;
}

/* ******************************************************************************** */

#poly1,
#poly1bis,
#poly2,
#poly2bis {
  position: absolute;
  inset: 0;
  background-image: url("../../../public/myphoto.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
}

#poly1 {
  transform: scale(1.12, 1.12);
  animation: poly1 12s linear infinite;
}

#poly1bis {
  transform: scale(1.12, 1.12);
  animation: poly1bis 12s linear infinite;
  background: red;
}

#poly2 {
  transform: scale(1.13, 1.13);
  animation: poly2 14s linear infinite;
}

#poly2bis {
  transform: scale(1.13, 1.13);
  animation: poly2bis 14s linear infinite;
}

@keyframes poly1 {
  0% {
    clip-path: polygon(50% -50%, 80% -50%, 180% 50%, 150% 50%);
  }

  100% {
    clip-path: polygon(-80% 50%, -50% 50%, 50% 150%, 20% 150%);
  }
}

@keyframes poly1bis {
  0% {
    clip-path: polygon(100%, 0%, 150%, 50%, 155%, 50%, 105%, -5%);
  }

  100% {
    clip-path: polygon(-45% 100%, 20% 150%, 25% 150%, -50% 100%);
  }
}

@keyframes poly2 {
  0% {
    clip-path: polygon(-50% -50%, 150% -50%, 150% -70%, -50% -70%);
  }

  100% {
    clip-path: polygon(-50% 180%, 150% 180%, 150% 160%, -50% 160%);
  }
}

@keyframes poly2bis {
  0% {
    clip-path: polygon(50% -75%, 150% -75%, 150% -80%, 55% -80%);
  }

  100% {
    clip-path: polygon(50% 155%, 150% 155%, 150% 150%, 55% 150%);
  }
}

.myphoto {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("../../../public/myphoto.webp");
  background-size: contain;
  background-repeat: no-repeat;
  transform-origin: center;
  opacity: light-dark(0.75, 0.25);
}

/* ******************************************************************************** */
.brightness {
  mask-image: linear-gradient(to right,
      transparent,
      #000 10% 90%,
      transparent);
}

[data-theme="dark"] .brightness {
  filter: brightness(0.5);
}

[data-theme="light"] .brightness {
  filter: brightness(1);
}

/* ******************************************************************************** */
.slider-container {
  mask-image: linear-gradient(to right,
      transparent,
      #000 10% 90%,
      transparent);
}

[data-theme="dark"] .slider-item {
  filter: grayscale(1) opacity(0.25);
}

[data-theme="light"] .slider-item {
  filter: grayscale(1) opacity(0.5);
}

.slider .slider-item:hover {
  filter: grayscale(0);
}

.slider {
  --slider-time: 100s;
  animation: autoRun var(--slider-time) linear infinite;
}

.slider:nth-of-type(1) {
  animation-delay: calc(var(--slider-time) * -0.5);
}

@keyframes autoRun {
  to {
    transform: translatex(-200%);
  }
}